.world{
margin: 30px;
}

.world > h1{
    margin: 0px;

}
.map{
    touch-action: none;
    height: 700px;
    overscroll-behavior: contain;
}

#mapaInteractivo {
    width: 100%;
    height: 100%;
    border: solid 5px #D26E16;
    border-radius: 15px;
    overscroll-behavior: contain;
}