@media only screen and (max-width: 1000px ) {
    a{font-size: 15px;}
    svg{scale: 0.75;}
}

@media only screen and (min-width: 769px) {
    /* For Computer: */
    .cajaTexto {
        width: 25%;height: 80px; 
    }
       @media only screen and (min-width: 1001px ) {
    a{font-size: 20px;}
     svg{scale: 1;}
    } 
        

}

@media only screen and (max-width: 768px )  {
    /* For Tablet: */
   .cajaTexto {
        width: 50%;height: 40px; 
    }
}
/*
@media only screen and (max-width: 375px) {
    /* For Mobile phones: 
    [class="cajaTexto"] {
        width: 0%;
    }
}*/