
@media only screen and (max-width: 1140px ) {
    a{font-size: 15px;}
    .cajaImagen{display: none; width: 0;}
    #contact{width: 100%; padding-left: 10%;}
        .caja1{ width: 30%;height: 100px;}
        .caja2{ width: 60%;height: 100px;}
        .cajaDado{width: 15%;height: 100px; }
    #imgMostruo{width: 67%; height: 100%;}
    #textMostruo{width: 33%; height: 100%;}
    #Mostruo{width: 100%; height: 500px;}
}

@media only screen and (min-width: 769px) {
    /* For Computer: */
    .cajaTexto {
        width: 25%;height: 80px; 
    }
       @media only screen and (min-width: 1141px ) {
        a{font-size: 20px;}
        svg{scale: 1;}
        #contact{width: 60%;padding-left: 2.5%;}
        .caja1{ width: 30%;height: 100px;}
        .caja2{ width: 60%;height: 100px;}
        .cajaDado{width: 15%;height: 100px; }
    
    } 
    #imgMostruo{width: 67%; height: 100%;}
    #textMostruo{width: 33%; height: 100%;}
    #Mostruo{width: 100%; height: 500px;}
        
}

@media only screen and (max-width: 768px )and (min-width: 375px )  {
    /* For Tablet: */
   .cajaTexto {
        width: 50%;height: 40px; 
    }
    .caja1{ width: 30%;height: 100px;}
    .caja2{ width: 60%;height: 100px;}
    .cajaDado{width: 30%;height: 100px; }
     #imgMostruo{width: 100%; height: 70%;}
    #textMostruo{width: 100%; height: 30%;}
    #Mostruo{width: 100%; height: 800px;}
}

@media only screen and (max-width: 375px) {
    /* For Mobile phones: */
   .cajaTexto {
        display: none; 
    }
    #NavBar{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .caja1{ display: none;}
    .caja2{ width: 30%;height: 100px;}
    .cajaDado{width: 30%;height: 100px; }
    #imgMostruo{width: 100%; height: 50%;}
    #textMostruo{width: 100%; height: 30%;}
    #Mostruo{width: 100%; height: 800px;}
}