
html, body {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body {
    min-height: 100vh;
    width: 100%;
}
main {
    width: 100%;
}

@media only screen and (min-width: 769px) {
    /* For Computer: */
    .cajaTexto {
        width: 25%;height: 80px; 
    }
       @media only screen and (min-width: 1141px ) {
        a{font-size: 20px;}
        svg{scale: 1;}
        #contact{width: 60%;padding-left: 2.5%;}
        .caja1{ width: 30%;height: 100px;}
        .caja2{ width: 60%;height: 100px;}
        .cajaDado{width: 15%;height: 100px; }
        .rButton{width: 120px;height: 120px; }
        .lButton{width: 120px;height: 120px; }
        .titulo-raza{font-size: 20px;}
    
    } 
    #imgMostruo{width: 50%; height: 100%;}
    #textMostruo{width: 50%; height: 100%;}
    #Mostruo{width: 100%; height: 500px;}

    #info1{top: 15%; left: 14%;}
    #info2{top: 60%; left: 27%;}
    #info3{top: 75%; left: 30%;}
    #info4{top: 35%; left: 40%;}
        
}

@media only screen and (max-width: 1140px ) {
    a{font-size: 15px;}
    .cajaImagen{display: none; width: 0;}
    .rButton{width: 120px;height: 120px; }
    .lButton{width: 120px;height: 120px; }
    #contact{width: 100%; padding-left: 10%;}
        .caja1{ width: 30%;height: 100px;}
        .caja2{ width: 60%;height: 100px;}
        .cajaDado{width: 15%;height: 100px; }
    #imgMostruo{width: 67%; height: 100%;}
    #textMostruo{width: 33%; height: 100%;}
    #Mostruo{width: 100%; height: 500px;}

    #info1{top: 15%; left: 15%;}
    #info2{top: 60%; left: 35%;}
    #info3{top: 75%; left: 40%;}
    #info4{top: 35%; left: 50%;}


}



@media only screen and (max-width: 768px )and (min-width: 375px )  {
    /* For Tablet: */
   .cajaTexto {
        width: 50%;height: 40px; 
    }

    .caja1{ width: 30%;height: 100px;}
    .caja2{ width: 60%;height: 100px;}
    .cajaDado{width: 30%;height: 100px; }
     .titulo-raza{font-size: 16px;}
     #imgMostruo{width: 100%; height: 70%;}
    #textMostruo{width: 100%; height: 30%;}
    #Mostruo{width: 100%; height: 800px;}

    #info1{top: 8%; left: 23%;}
    #info2{top: 37%; left: 50%;}
    #info3{top: 45%; left: 60%;}
    #info4{top: 25%; left: 70%;}

    .rButton{width: 100px;height: 100px; }
    .lButton{width: 100px;height: 100px; }
    
}
@media only screen and (max-width: 500px )and (min-width: 375px )  {
    #info1{top: 8%; left: 23%;}
    #info2{top: 25%; left: 50%;}
    #info3{top: 35%; left: 60%;}
    #info4{top: 15%; left: 70%;}
    .rButton{width: 80px;height: 80px; }
    .lButton{width: 80px;height: 80px; }
    .titulo-raza{font-size: 12px;}
}
@media only screen and (max-width: 375px) {
    /* For Mobile phones: */
   .cajaTexto {
        display: none; 
    }
    #NavBar{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .caja1{ display: none;}
    .caja2{ width: 30%;height: 100px;}
    .cajaDado{width: 30%;height: 100px; }
    .titulo-raza{font-size: 7px;}
    .rButton{width: 50px;height: 50px; top: 50%;}
    .lButton{width: 50px;height: 50px; }

    #imgMostruo{width: 100%; height: 35%;}
    #textMostruo{width: 100%; height: 55%;}
    #Mostruo{width: 100%; height: 800px;}
    #info-movil-container{width: 100%; height: 10%;}
    

    #info1{top: 5%; left: 23%;}
    #info2{top: 15%; left: 50%;}
    #info3{top: 25%; left: 60%;}
    #info4{top: 10%; left: 80%;}
}