h1{
				color: #D26E16;
				font-weight: normal;
				font-size: 64px;
				font-family: "Inknut Antiqua", serif;
				
			}
			h2{
				color: #D26E16;
				font-weight: bold;
				font-size: 48px;
				font-family: "Inknut Antiqua", serif;
				
				
			}
			h3{
				color: #D26E16;
				font-weight: bold;
				font-size: 32px;
				font-family: "Inknut Antiqua", serif;
			}
			h4{
				color: #EDCBAF;
				font-size: 20px;
				font-family: "Inknut Antiqua", serif;
			}
			p{
				color: #EDCBAF;
				font-family: "JejuGothic";
			}